<script type='text/javascript'>
function init(){
    new MortgageCalculator('mortgage-calculator','output');
    jQuery('button[data-toggle-id]').each(function() {
        var button = $(this);
        var refId = button.attr('data-toggle-id');
        var refEle = $('#' + refId);
        if (refEle.is(':checked'))
            button.click();
        button.on('click', function() {
            refEle.prop('checked',true);
            refEle.change();
        });
    });
};
jQuery(init);
</script>
<form id="mortgage-calculator" class="form-horizontal">
    <input type="button" value="Reset" name="reset" class="btn btn-warning"/>
    <br />
    <fieldset>
        <ledgend>Based on a 30 year monthly pament</ledgend>
        <div class="control-group">
            <label class="control-label" for="price">Base Price</label>
            <div class="controls">
                <input class="input-small" type='number' name='price' id='price' autofocus />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for='downpayment'>Down payment</label>
            <div class="controls">
                <div class="input-append">
                    <input class="input-small" type='number' name='downpayment' id='downpayment' />
                    <span class="add-on">%</span>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="interest">Interest rate</label>
            <div class="controls">
                <div class="input-append">
                    <input class="input-small" name='interest' id='interest' type="text"/>
                    <span class="add-on">%</span>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="tax">Tax</label>
            <div class="btn-group" data-toggle="buttons-radio">
                <input class="input-small" id="tax" name='tax' type="text"/>
                <button type="button" class="btn btn-primary" value="percent" data-toggle="button" data-toggle-id="tax-type-percent">%</button>
                <button type="button" class="btn btn-primary" value="absolute" data-toggle="button" data-toggle-id="tax-type-absolute">$</button>
            </div>
            <div style="display: none">
                <input type="radio" name="taxType" id="tax-type-percent" value="percent">
                <input type="radio" name="taxType" id="tax-type-absolute" value="absolute">
            </div>
        </div>
        <div class="control-group">    
          <label class="control-label" for="insurance">Insurance rate</label>
          <div class="controls">
            <input class="input-small" name='insurance' type="text"/>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="currentCost">Current Monthly rent</label>
          <div class="controls">
            <input class="input-small" name='currentCost' type="text" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="additional">Additional Costs (higher utils, etc.)</label>
          <div class="controls">
            <input class="input-small" type="text" name='additional' />
          </div>
        </div>
    </fieldset>
<hr />
<table class='output'>
    <tr><td>Pincipal + Interest</td><td><output name='mortgage-payment' class='output' /></td></tr>
    <tr><td>Tax</td><td><output name='tax-payment' class='output'></td></tr>
    <tr><td>Insurance</td><td><output name='insurance-payment' class='output'></td></tr>
    <tr><td>PITI</td><td><output name='piti-payment' class='output stress'></td></tr>
    <tr><td>+Additional Costs</td><td><output name='add-additional' class='output'></td></tr>
    <tr><td>Total extra</td><td><output name='extra-cost' class='output stress'></td></tr>
</table>
</form>